RewriteEngine On # Activer le module Rewrite
RewriteRule ^offers/(\d+)$ model_offers.php?id=$1 [NC,L]
RewriteRule ^offers/ model_offers.php [NC,L]
RewriteRule ^accounts/(\d+)$ model_accounts.php?id=$1 [NC,L]
RewriteRule ^accounts/ model_accounts.php [NC,L]