RewriteEngine On # Activer le module Rewrite
RewriteRule ^accounts/?$ accounts.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ accounts.php?id=$1
RewriteRule ^offers/?$ offers.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ offers.php?id=$1